<!--<h2>Angular MainMenu</h2>-->
<!--<ul>-->
<!--    <li><a routerLink="/logged/dashboard">  Dashboard</a></li>-->
<!--    <li><a routerLink="/logged/clients"> Clientes</a></li>-->
<!--    <li><a routerLink="/othermenu"> Other menu</a></li>-->
<!--</ul>-->


    <div class="leftMenu">
        <nav class="uxf-side-nav uxf-side-nav-collapsed">
            <ul class="nav card flex-column uxf-side-nav-collapsed">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/logged/home">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/logged/clients">
                        Clients
                    </a>
                </li>

            </ul>
        </nav>
    </div>

